#second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
}

.header-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#etiam {
  grid-column: 1/2;
  width: 175px;
  height: 175px;
  background-color: rgb(228, 171, 177);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#magna {
  grid-column: 2/3;
  background-color: rgb(192, 159, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.far {
  color: white;
  height: 60px;
}

#tempus {
  grid-column: 3/4;
  background-color: rgb(166,157,197);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#aliquam {
  grid-column: 4/5;
  background-color: rgb(159, 178, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fas {
  color: white;
  height: 60px;
}

#nullam {
  grid-column: 5/6;
  background-color: rgb(152, 200, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fal {
  color: white;
  height: 60px;
}

