.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px
}

.first-section-title:after {
  margin-top: 20px;
  content: '';
  background-color: purple;
  display: block;
  height: 4px;
  width: 100%;
}

.first-section-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 200px;
}

.first-card {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.second-card {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.third-card {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.circle-picture {
  margin-top: 20px;
  width: 150px;
  box-shadow: 0 0 0 10px hsl(0, 0%, 90%);
  border-radius: 50%;
}

.title {
  font-weight: 800;
}
.section-one-btn {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}


#section-one-btn {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#section-one-btn:hover {
  background-color: rgb(247, 247, 247);
}

