.content-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.explore {
  grid-column: 1/2;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.explore:after {
  margin-top: 20px;
  content: '';
  display: block;
  width: 40%;
  height: 2px;
  background-color: black;
}

