.section-comp {
  background-color: rgb(223, 223, 223);
  margin: 70px;
  border-radius: 5px;
}

.content {
  background-color: white;
  height: 500px;
}

.section-one {
  background-color: white;
  height: 500px;
  border-bottom: 1px solid rgb(204, 202, 202)
}

.section-two {
  background-color: white;
  height: 700px;
  border-bottom: 1px solid rgb(204, 202, 202)
}

.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: white;
}
